@charset “utf-8”;

#jenkins-head-icon {
    display: block;
    width: 32px;
    height: 32px;
    background: url(ouroboros-small.png) no-repeat;
    box-sizing: border-box;
    padding-left: 32px;
    margin-bottom: 6px;
}

#main-panel::after {
    content: url(ouroboros-medium.png);
    position: absolute;
    right: 0px;
    bottom: 0px;
    opacity: 0.1;
}